<!-- BEGIN: main --><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>THEME</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style>
<!-- BEGIN: rapydcss -->.little {	color: #9B9B9B; font-family: Verdana, Arial, Helvetica;	font-size: 8pt; }
.alert { color: #DD0000; font-family: Verdana, Arial, Helvetica;	font-size: 8pt; }
.alert p {margin:0;}
.littlebutton {	background-color: #BED6E0;	border: 1px solid #92B8CB;	color: #153D51;	font-family: Verdana, Arial, Helvetica;	font-size: 8pt;	text-decoration: none;}
.littletablerow {		color: #153D51;	border-bottom: 1px solid #cccccc;	font-family: Verdana, Arial, Helvetica;	font-size: 8pt;}
.littletableheader { background: #EBEBEB; 	border-bottom: 1px solid #cccccc;	color: #999999;	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;	font-size: 8pt;	font-weight: bold;}
.mainbackground {	/* background: #F6F9FB; */ }
.pagenav {	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;	font-size: 12px;	font-weight: bold; }
.pagenav a {	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;	font-size: 11px;	font-weight: bold; }
.mainheader { clear:both;  border-bottom: 1px solid #ECF3F6; height:22px; padding:4px; color: #153D51; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;	font-size: 11px;	font-weight: bold;}
.mainfooter { clear:both;  border-color: #92B8CB;  border-top:1px solid #ECF3F6; height:22px; padding:4px; color: #153D51; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;	font-size: 11px;	font-weight: bold;}
.normal {	color: #9B9B9B;	font-family: Verdana, Arial, Helvetica;	font-size: 9pt;}
.tableheader { background: #EBEBEB; 	border-bottom: 1px solid #cccccc;	color: #999999;	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;	font-size: 11px;	font-weight: bold;}
.tableheader_clean { background: #EBEBEB; color: #999999;	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;	font-size: 11px;	font-weight: bold;}
.tablerow {	border-bottom: 1px solid #cccccc;	color: #153D51;	font-family: Verdana, Arial, Helvetica;	font-size: 11px;	font-weight: normal;}
.button {	background-color: #E4E4E4; border: 1px solid #CCCCCC;	color: #153D51;	font-family: Verdana, Arial, Helvetica; font-size: 10px; font-weight: normal;	text-decoration: none;}
.button_red {	background-color: #FF3300;	border: 1px solid #CC3300; color: White;	font-family: Verdana, Arial, Helvetica;	font-size: 10pt;text-decoration: none;}
form { margin: 0; padding: 0; } 
input, select, textarea  { FONT-FAMILY: Verdana, Arial, sans-serif; margin: 0; padding: 2px; font-size: 11px;  border: 1px solid #92B8CB; border-left:2px solid #92B8CB;}
.micro, .micro a { font: 9px "Trebuchet ms",Verdana,Tahoma,Arial,sans-serif; color: #bbb; font-weight: normal;}<!-- END: rapydcss -->
</style>
</head>

<body>
<!-- BEGIN: notes -->
<h3>This is a rapyd components theme template file</h3>
<p>
html comment tags are placeholders to mark component blocks and sub-bloks<br />
template class is derived from xtemplate, so you need to know his syntax (is simple)<br />
</p>
<p>
this is the default template, note that html comment tags  position's <em>is optimized to produce good output</em>
</p>
<!-- END: notes -->

<hr />







<hr />
<h3>DATAGRID:</h3>
<!-- BEGIN: dataGrid -->
<table style="margin:0;width:100%;border-collapse:collapse;padding:0;">
  <tr>
    <td>
      <table style="margin:0;width:100%;border-collapse:collapse;padding:0;">
        <tr>
          <td class="mainheader">{title}</td>
          <td class="mainheader" align="right">{container_tr}</td>
        </tr>
      </table>

      <div class="mainbackground" style="padding:2px;clear:both;">
      <table width="100%" cellpadding="1">
        <!-- BEGIN: tableHeader -->
        <tr>
          <!-- BEGIN: tableCell --><!-- BEGIN: orderByField -->
          <td class="tableheader">
            <table style="width:100%; border-collapse:collapse;">
              <tr>
                <td class="tableheader_clean">{fieldLabel}</td>
                <td class="tableheader_clean" style="width:28px">
                  <a href="{orderbyasc_link}"><img src="{RAPYD_IMAGES}orderbyasc.gif" border="0"></a><a href="{orderbydesc_link}"><img src="{RAPYD_IMAGES}orderbydesc.gif" border="0"></a>
                </td>
              </tr>
            </table>
          </td>
          <!-- END: orderByField --><!-- BEGIN: cleanField -->
          <td {fieldAttributes}>{fieldLabel}</td>
          <!-- END: cleanField --><!-- BEGIN: field -->
          <td class="tableheader" {fieldAttributes}>{fieldLabel}</td>
          <!-- END: field -->
          <!-- END: tableCell -->
        </tr>
        <!-- END: tableHeader -->
        <!-- BEGIN: tableRow -->
        <tr>
          <!-- BEGIN: tableCell --><!-- BEGIN: detailField -->
          <td {fieldAttributes} class="littletablerow" ><a href="{link}">{field}<img src="{RAPYD_IMAGES}elenco.gif" width="16" height="16" border="0" align="absmiddle" /></a></td>
          <!-- END: detailField --><!-- BEGIN: cleanField -->
          <td {fieldAttributes}>{field}</td>
          <!-- END: cleanField --><!-- BEGIN: field -->
          <td {fieldAttributes} class="littletablerow">{field}</td>
          <!-- END: field -->
          <!-- END: tableCell -->
        </tr><!-- END: tableRow -->  
      </table>
      </div>
      <div class="mainbackground"><div class="pagenav">{footerPager}</div></div>
      <div class="mainfooter">
        <div>
          <div style="float:left">{container_bl}</div>
          <div style="float:right">{container_br}</div>
        </div><div style="clear:both;"></div>
      </div>

    </td>
  </tr>
</table>
<!-- END: dataGrid -->





<hr />
<h3>DATAFORM:</h3>
<!-- BEGIN: dataForm -->
{form_begin}
<table style="margin:0;width:100%;border-collapse:collapse;padding:0;">
  <tr>
    <td>
      <table style="margin:0;width:100%;border-collapse:collapse;padding:0;">
        <tr>
          <td class="mainheader">{title}</td>
          <td class="mainheader" align="right">{container_tr}</td>
        </tr>
      </table>
      <div class="mainbackground" style="padding:2px;clear:both">
      <div class="alert">{error_string}</div>
      <table style="margin:0;width:98%;">
        <!-- BEGIN: field --><!-- BEGIN: group_begin -->
        <tr>
          <td colspan="2" class="little">{group_name}</td>
        </tr>
        <!-- END: group_begin --><!-- BEGIN: normal -->
        <tr>
          <td style="width:150px;padding:1px;{styleHeader}" class="littletableheader">{label}</td>
          <td style="padding:1px;{styleRow}" class="littletablerow" {field_td}>{field}</td>
        </tr>
        <!-- END: normal --><!-- BEGIN: error -->
        <tr>
          <td style="width:150px;padding:1px;{styleHeader}" class="tableheader">{label}</td>
          <td style="padding:1px;background-color:#FF0000;{styleRow}" class="tablerow" {field_td}>{error_message}<br />{field}</td>
        </tr>
        <!-- END: error --><!-- BEGIN: container -->
        <tr>
          <td colspan="2">{field}</td>
        </tr>
        <!-- END: container --><!-- BEGIN: group_end -->
        <tr>
          <td colspan="2"></td>
        </tr>
        <!-- END: group_end -->
        <!-- END: field --><!-- BEGIN: message -->
        <tr>
          <td colspan="2" class="tablerow">{message}</td>
        </tr>
        <!-- END: message -->
      </table>
      {form_scripts}
      </div>
      <div class="mainfooter">
        <div>
          <div style="float:left">{container_bl}</div>
          <div style="float:right">{container_br}</div>
        </div><div style="clear:both;"></div>
      </div>
    </td>
  </tr>
</table>{form_end}
<!-- END: dataForm -->



<hr />
<h3>DATATABLE:</h3>
<!-- BEGIN: dataTable -->
<table width="100%" cellspacing="0" cellpadding="0">
  <!-- BEGIN: row -->
  <tr>
    <!-- BEGIN: cell -->
    <td {attributes}>{content}</td>
    <!-- END: cell -->
  </tr>
<!-- END: row -->
</table>
<!-- BEGIN: pager -->
<div class="mainbackground">{footerPager}</div>
<!-- END: pager -->
<!-- END: dataTable -->





<!-- END: main -->