<IfModule mod_rewrite.c>

RewriteEngine on

# Rewrite URL into index.php for code igniter
RewriteCond $1 !^(index\.php|tmp|images|stylesheets|javascript|flash|js|doxygen|facebook|robots\.txt)
RewriteRule ^(.*)$ index.php/$1 [L]

</IfModule>
