
/* -- 	BEGIN CALENDAR VIEW CLASSES -- */
/* These are used by the calendar system. It would probably be a bad idea to use these for anything outside of that subsystem. */

#calviewContainer {
	background-color: #ffffff;
	padding: 0px;
}

#calviewLeftBar {
	display: none;
	padding: 5px;
	margin: 0px;
	width: 200px;
	background-color: #dddddd;
	border: 1px solid #cccccc;
}

#calviewCalendarWindow {
	width: 650px;
	padding: 0px;
	margin: 0px;
	background-color: #ffffff;	
}

#calviewCalTable {
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: none;
	background-color: #ffffff;
	border-top: 1px solid #dddddd;
	border-left: 1px solid #cccccc;
}

#calviewCalTable td {
	width: 100px;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #dddddd;
}
.calviewCalHeadingCell {
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	height: 20px;
	background-color: #f9f9f9;
	border-bottom: 1px solid #cccccc;
	margin: 0px;
}
.calviewCalEventsCell {
	height: 500px;
	vertical-align: top;
	background-color: #f0f0f0;
	border-bottom: 1px solid #cccccc;
	margin: 0px;
	padding: 0px;
}
.calviewIndEventBox {
	border-top: 2px solid #08c0ef;
	border-bottom: 2px solid #08c0ef;
	background-color: #fafafa;
	padding: 5px;
	width: 100px;
	font-size: 9px;
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.calviewIndEventBoxHL {
	border: 2px solid #bb3300;
	background-color: #ffffff;
	padding: 2px;
	font-size: 9px;
	margin: 1px;

}
.calviewIndEventBox .calviewCloseButton {
	margin-top: -2px;
	margin-right: -2px;
	margin-bottom: 2px;
	margin-left: 2px;
	float: right;
	background-color: #bb0000;
	color: #ffffff;
	padding: 2px;
	font-weight: bold;
}
.calviewIndEventBox .calviewExpandButton {
	margin-top: -2px;
	margin-right: -2px;
	margin-bottom: 2px;
	margin-left: 2px;
	float: right;
	background-color: #00bb00;
	color: #ffffff;
	padding: 2px;
	display: block;
	font-weight: bold;
}
.calviewIndEventBox .calviewMenuButton {
	margin-top: -2px;
	margin-right: -2px;
	margin-bottom: 2px;
	margin-left: 2px;
	float: right;
	background-color: #ddbb00;
	color: #ffffff;
	padding: 2px;
	font-weight: bold;
}

#calviewEventMenu {
	display: none;
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 100;
	width: 154px;
	background-color: #ffffff;
	border: 1px solid #000000;
	padding: 1px;}

#calviewEventMenu ul {
	display: block;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
#calviewEventMenu ul li {
	padding: 0px;
}
#calviewEventMenu ul .calviewEMBP {
	border-bottom: 1px solid #ffaa60;
}
#calviewEventMenu ul li:hover {

}
#calviewEventMenu ul li a {
	display: block;
	text-decoration: none;
	font-size: 11px;
	color: #ff6a00;
	background-color: #fff;
	padding: 2px;
	margin: 2px;
}
#calviewEventMenu ul li a:hover {
	color: #ffffff;
	background-color: #ff6a00;
}

.calviewEBCSpecialDayHeading {
	text-align: center;
	font-size: 10px;
	background-color: #f9f9f9;
	border-bottom: 1px solid #cccccc;
	margin: 0px;
	padding: 2px;
}

.calviewTimeSpacerG {
	padding: 2px;
	border: none;
	border-top: 1px solid #22aa22;
	border-bottom: 1px solid #22aa22;
	background-color: #88ff88;
	font-size: 9px;	
	text-align: center;
	color: #005500;
}
/* -- 	END LISTINGS CALENDAR VIEW CLASSES -- */
