/* Styles for crosswords */
/* Author: James Hogan */

table.crossword {
	border: 1px solid #FF6A00;
	border-spacing: 0px;


	text-align: center;
	font-weight: bold;
	font-size: 14pt;
}
table.crossword tr.small {
	font-size: 10pt;
}

table.crossword td.blank sup {
	display: none;
}

table.crossword td sup {
	font-weight: normal;
	font-size: 6pt;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
}

table.crossword td input {
	border: 0px solid white;
	margin: 0px;
	width: 100%;
	height: 1.2em;

	text-align: center;
	font-weight: bold;
	font-size: 14pt;
}
table.crossword tr.small td input {
	font-size: 10pt;
}

table.crossword td div {
	position: relative;
}

table.crossword td {
	background-color: white;
	border: 1px solid #FF6A00;
	padding: 0px;
	margin: 0px;
	vertical-align: bottom;

	width: 1.5em;
	height: 1.5em;
}

/* Cells with a space before */
table.crossword td.hsp {
	border-left: 3px solid #FF6A00;
}
table.crossword td.vsp {
	border-top: 3px solid #FF6A00;
}

/* Blank cells */

table.crossword td.blank,
table.crossword td.blank input {
	background-color: #FF6A00;
}

table.crossword td.blank.selected,
table.crossword td.blank.selected input {
	background-color: #FFAA00;
}

table.crossword td.blank.focus,
table.crossword td.blank.focus input {
	background-color: #FFAA00;
}

table.crossword td.focus {
	border: 2px solid red;
}

/* Selected cells */

table.crossword td.selected,
table.crossword td.selected input {
	background-color: #FFFF88;
}

table.crossword td.focus,
table.crossword td.focus input {
	background-color: #FFAA88;
}

div.crosswordBox {
	float: left;
	width: 40%;
	padding: 0px;
	margin: 0px;
}

div.crosswordCluesBox {
	float: left;
	width: 30%;
	padding: 0px;
	margin: 0px;
}

div.crosswordCluesBox div.horizontal,
div.crosswordCluesBox div.vertical {
	margin: 0px 0px 0.5em 0.5em;
}

div.crosswordCluesBox h2 {
	margin: 0.2em;
}

div.crosswordCluesBox div.horizontal div,
div.crosswordCluesBox div.vertical   div {
	margin: 0px;
	padding: 0.2em;
	cursor: pointer;
}

div.crosswordCluesBox div.horizontal div.complete,
div.crosswordCluesBox div.vertical   div.complete {
	text-decoration: line-through;
}

div.crosswordCluesBox div.horizontal div.selected,
div.crosswordCluesBox div.vertical   div.selected {
	background-color: #FFFF88;
	border: 1px solid #FFAA88
}

/* Remove the wrong spaces */
div.crosswordCluesBox div.vertical td.hsp {
	border-left: 1px solid #FF6A00;
}
div.crosswordCluesBox td.vsp {
	border-top: 1px solid #FF6A00;
}
/* Add horizontal spaces in vertical clues */
div.crosswordCluesBox div.vertical td.vsp {
	border-left: 3px solid #FF6A00;
}
