/**************************************
 * Public crosswords interface styles *
 **************************************/

div.HalfColumns {
	padding: 0px;
}
div.HalfColumns div.Column {
	float: left;
	width: 50%; 
}
div.crossword_title {
	font-weight: bold;
	font-size: large;
}
div.crossword_note {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	clear: right;
	float: right;
}
