div#NotFound, div#Jumpers {
	text-align: center;
}

div#DirectoryMain div h3 span {
	font-size: smaller;
	font-weight: normal;
}

div#LetterJump {
	text-align: center;
}

div#LetterJump a {
	margin: 0.1em;
}
