div.NewsBox {
	width: 100%;
}

div.SmallNewsBox {
	width: 50%;
}

div.NewsBox {
	float: left;
	padding: 0;
	margin: 0;
}

div.NewsBox > *, div.SmallNewsBox > * {
	margin: 0px 10px 10px 10px;
}

a.NewsImg {
	float: right;
	padding: 0;
	margin: 0;
}

a.RightColumnAction {
	font-size: smaller;
	margin-top: 0;
	text-align: right;
	display: block;
}

div.Entry ul {
	margin-bottom: 0;
}

/* This may not be needed but */
h3.SmallNewsHeading {
	font-size: small;
}

p.Discreet {
	font-size: smaller;
	text-align: right;
	padding: 0;
	margin: 0;
}

h3 {
	margin-bottom: 0;
}
