/*div#HomeBanner {
	margin-right: 240px;
}

div#HomeBanner img {
	width: 100%;
	max-width: 420px;
	margin-top: 0.5em;
}*/

div.NewsBox {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
}

div.NewsBox > * {
	margin: 0.5em;
}

div.NewsBox a.NewsImg {
	float: right;
}
