/* This style sheet is for putting fixes for styles in new.css for the gayness
 * that is known as IE6.  Keep it as small as possible, same rules apply as in
 * new.css */

fieldset#SearchBox {
	padding: 1px 2px 0px 22px;
}

ul#Navbar li {
	width: expression("7em");
}

div.BlueBox {
	width: expression(if (document.all.item("RightColumn" == null)) { document.body.clientWidth - 395 } else { document.body.clientWidth - 395 });
}
