/* Default Paramaters for entire page */
html {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #CED8D9;
	margin: 5px;
}

a {
	text-decoration: none;
	color: #93969a;
}

a:hover {
	text-decoration: underline;
}

/** 
	* Headers - a section for headers
*/

/* Yorker alt text */
h1.YorkerHeader {
    color: #FF9933;
}
/* Page Title */
h1 {
	font-weight: bolder;
	font-size: xx-large;
}

h1.reviewHeader {
	display: inline;
}
/* Page Sub-Title */
h2 {
    font-size: x-large;
}
/* Dynamic Text Title (for WikiText) */
h3 {
    font-size: large;
}
/* get rid of image borders - mainly for links*/
img {
	border: none;
}
/* generic page title bar */
#TitleBar {
	background-color: Teal;
}
/* gives the 5px padding around simple pages */
.padding {
  padding: 5px;
}
/* removes link styling*/
.nolinkstyle {
  text-decorations: none;
  color: #000000;
}


/**
	* Review (exclusive) use - if you find a use for it elsewhere, feel free to put it into generic use
*/

div.ReviewCatetory {
	padding: 5px;
	width: 100%;
}

div.ReviewCategoryImg {
	float: left;
}

div.ReviewCategoryImgAlt {
	padding-left: 5px;
	float: right;
}

div.ReviewCategoryText h3 {
	display: inline;
}

div.ReviewCategoryText img {
	padding-bottom: 3px;
}

div.ReviewCategoryTextAlt {
}

div.ReviewCategoryTextAlt h3 {
	display: inline;
}

#ReviewTitle {
	text-align: center;
}

div.ReviewSetHeader {
	width: 100%;
	text-align: center;
}

div.FoodSet {
	float: left;
	width: 20%;
}

div.BarCrawls {
	color: white;
	background-color: Black;
	float: left;
	width: 60%;
}

div.BarCrawls a {
	color: white;
}

div.CollegeLeagues {
	background-color: Grey;
	float: right;
	width: 40%;
}

/*Why not try boxes on reviews*/
div.WhyNotTry {
	text-align: left;
	float: center;
	border-color: #2dc6d7;
	border-style: solid;
	border-width: thin;
	margin: 10px;
	padding: 3px;
}

#feature {
	width: 90%;
	border: medium solid;
	margin: 1em;
	padding: 1em;
	border-color: #2dc6d7;
}

div.featureHeading {
	width: 100%;
	float:left;
}

div.featureTitle {
	float: left;
	width: 50%;
}

div.featureArticle {
	text-align: left;
	float: left;
}

div.featureArticle img {
	float: right;
}

div.ReviewInfoLeft {
	padding-left: 0.5em;
	width: 48%;
	float: left;
}

div.ReviewInfoLeftImg {
	text-align: center;
}

div.ReviewInfoRight {
	width: 50%;
	float: right;
}

div.ReviewInfoQuater {
	width: 45%;
	float: left;
	margin-top: 1em;
	margin-right: 0.5em;
}

div.ReviewInfoQuater h3 {
	color: #ff6a00;
	display: inline;
}

span.ReviewSubLine {
	font-size: large;
}

span.Quote {
	color: #ff6a00;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-large;
}

table.ReviewDetails {
	width: 100%;
}

table.ReviewDetails td {
	vertical-align: top;
}

td.ReviewDetailsTitle {
	color: #ff6a00;
	font-weight: bold;
}

div.RateReview {
	float: left;
	margin: 0.5em;
}

div.MakeComment{
	float: left;
}

div.AverageRating {
	width: 100%;
	text-align: right;
}

span.AverageRatingSpan {
	font-size: x-large;
	font-weight: bold;
	color: #ff6a00;
}

span.SmallSpanText {
	font-size: x-small;
}

div.YourComments {
	background-color: #ff6a00;
	color: white;
	width: 100%;
}

div.YourComments h2 {
	display: inline;
}

/**
	* Generic use
*/
/* Use for starting a new line of divs. e.g. <div class="clear">&nbsp;</div> */
.clear {
	clear:both;
	display:block;
	height:1em;
	overflow:hidden;
	margin: 0;
	padding: 0;
}
/* Replace this with > image */
li {
    list-style-type: disc
}

/* For the fluid student frame */
.WholePage {
	background-color: #ffffff;
	padding: 1.5em;
}
.HeaderMenu {
	text-align: right;
}
.HeaderBanner {
	text-align: right;
	background-image: url("/images/prototype/header/homepage_bk.gif");
	background-repeat: repeat-x;
	height:108px;
}
.HeaderSearch {
	color: #2DC6D7;
}
.HeaderSearchBox {
	font-size:10px;
	height: 19px;
	border-style:solid;
	border-color:#2DC6D7;
	border-width: 2px;
}
.footer {
	text-align: center;
}
/* End the fluid student frame */

/*General Usefull Css Layouts */
/* For a duel colum layout use a container div enclosing two halfbox divs and a empty breaker div. */
div.Container{
	width:100%;
}
div.ContainerHalf{
	width:50%;
}
div.HalfBox {
	float: left;
	width:48%;
	//width: 50%;
	padding: 5px;
}

div.HalfBox2 {
	float: right;
	width:48%;
	padding: 5px;
}


div.ThirdBox {
	float: left;
	width:33%;
	padding: 5px;
}
div.QuaterBox { 
	float: left;
	width:24%;
	//width: 25%;
	padding: 5px;
}
div.breaker {
	clear:both;
}
div.GalleryPicture {
	float: left;
	padding: 10px;
}
/* End Usefull Css Layouts */

/* For the campaign pages */
.wholepage2 { /* Remove Me Begin */

}
.title{
	font-size: 35px;
	font-weight: bold;
	color: #ffffff;
	background-color: FF6A00;
	padding-left: 3px;
	padding-bottom: 3px;
}
.subtitle {
	font-size: large;
	font-weight: bold;
	color: #ffffff;
	background-color: FF6A00;
	padding-left: 3px;
	padding-bottom: 3px;
}/* Remove Me End */
.ResultsList {
	border-style:solid;
	border-color:#66FFCC;
}
.SignVoteForm {
	float: left;
	border-style: solid;
	border-color: FF6A00;
	font-size: large;
	font-weight: bold;
}
.ProgressItemText {
	padding-left: 55px;
	vertical-align: top;
	font-size: 10px; /* FixMe */
}
.subheader {
	font-size: large;
	background-color: FF6A00;
	padding-bottom: 8px;
	padding-left: 3px;
	margin-bottom: 5px;
	font-weight: bold;
	color: #ffffff;
}
.signit{
	float: left;
	background-color: FF6A00;
	padding: 3px;
	font-size: 25px;
	font-weight: bold;
	padding-bottom: 8px;
}
.sendbox{
	font-weight: bold;
	background-color: FF6A00;
	padding: 0px;
	margin: 5px;
	width: 100%;
	margin-left: 150px;
}
.signbox {
	padding-top: 10px;
	width: 100%;
}
.Blurb {
	padding: 15px;
	padding-top: 5px;
}
.SubText {
	font-size: 30px;
	font-weight: bold;
}
.subsubtitle {
	font-size: 15px;
	font-weight: bold;
	color: FF6A00;
	padding-left: 4px;
}
.funnybox {
	font-size: large;
	font-weight: bold;
	background-color: FF6A00;
	padding-left: 3px;
	margin-top: 10px;
}
.funnyboxpt1{
	position: relative;
	top: -12px;
	display: inline;
}
.funnyboxpt2{
	position: relative;
	top: -5px;
	display: inline;
	color: #ffffff;
}
.funnyboxpt3{
	position: relative;
	top: -5px;
	display: inline;
	color: #ffffff;
	left: 15%;
}
.funnyboxpt4{
	position: relative;
	top: -5px;
	display: inline;
	color: #ffffff;
	left: 30%;
}
.votebar {
	background-image: url("/images/prototype/campaign/bar.jpg");
	background-repeat: repeat-x;
	display: inline;
	margin-right:10px;
	margin-top:3px;
}

div.FactBox {
	background-color: FFAC47;
	margin: 1.5em;
	padding-left: 1em;
	padding-bottom: 1em;
	padding-right: 1em;
}
div.FactBoxTitle {
	font-size: 2.3em;
	font-weight: bold;
}
/* End the campaign pages */

/*For the charity page */
div.FloatRightHalf {
	float: right;
	width:49%;
	//width: 50%;
	padding: 5px;
}
div.CharitySubText {
	font-size: 3em;
	font-weight: bold;
	color: FF6A00;
}
div.CharityRelated {
	float: left;
	width:24%;
	//width: 49%;
	padding: 5px;
}
div.BlackBox {
	color: #ffffff;
	background-color: #000000;
	padding: 0.5em;
}
div.WhiteBox {
	color: #000000;
	background-color: #ffffff;
	padding: 0.2em;	
	font-size: 4em;
	font-weight: bold;
}
div.WhiteFullBox {
	color: #000000;
	background-color: #ffffff;
	margin-left: -0.5em;
	margin-right: -0.5em;
	padding: 0.5em;	
}
div.BlackBoxTitle {
	font-size: 2.5em;
	font-weight: bold;
}
div.BlackBoxSubTitle {
	font-size: 2em;
	font-weight: bold;
}
/* End the charity pages */


/*Style Fox Box Stye Subheader With Related Links Option for an image.*/
/*Look on the wiki page for html code, converts a list into a related links box*/
#pageheader{
	background-color: 00CCFF;
    background-repeat: no-repeat;
    background-position: right top;
}
#titleheader{
    margin: 5px;
	 color: white;
}
#pagelinks{
    background-color: #1E90FF;
    width: 100%;
}

#pagelinks ul {
    text-align: left;
    margin-left: 0;
    padding-left: 0;
    border-bottom: 1px solid white
}

#pagelinks li {
    list-style-type: none;
    padding: 0.25em 1em;
    display: inline
}
/*End Of Subheader With Related Links*/




/* Column Text And ColumnPhoto are two simple styles for a column of text next to a photo*/
.columnText {
	margin-left: 5px;
	width: 59%;
	float: left;
}
.columnPhoto {
	width: 39%;
	text-align: center;
	float: right;
}
.columnPhoto a {
	color: darkgrey;
	text-decoration: none;
}

/*InfoBoxes*/
.Infobox {
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #C4C4E1;
	border-color: #0099FF;
	border-style: solid;
	border-width: thin;
}
.InfoboxText {
	margin-left: 5px;
	width: 59%;
	float: left;
}
.InfoboxPhoto {
	width: 39%;
	text-align: center;
	float: right;
}
.InfoboxPhoto a {
	color: grey;
	text-decoration: none;
}

/*MemberBoxes*/
.Memberbox {
	text-align: left;
	background-color: #C4C4E1;
	border-color: #0099FF;
	border-style: solid;
	border-width: thin;
}
.MemberboxText {
	margin-left: 5px;
	width: 59%;
	float: left;
}
.MemberboxPhoto {
	width: 39%;
	text-align: center;
	float: right;
}
 
/*
*	Start styles for News Section
*/

#newsnav ul {
	padding-left: 0;
	margin-left: 0;
	background-color: #08c0ef;
	color: White;
	float: left;
	width: 100%;
	vertical-align: middle;
}

#newsnav ul li {
	display: inline;
	font-size: 14px;
}

#newsnav ul li a {
	padding: 0.2em 1em;
	background-color: #08c0ef;
	color: White;
	text-decoration: none;
	float: left;
	border-right: 1px solid #fff;
}

#newsnav ul li a:hover	{
	background-color: #06a5cd;
	color: #fff;
}

#newsnav ul .right a {
	float: right;
	border-left: 1px solid #fff;
	border-right: 0px;
}

#newsnav ul li #current {
	font-weight: bold;
 	background-color: #06a5cd;
}

.ArticleColumn {
	margin: 0;
	padding: 0;
	float: left;
	font-size: small;
}

.ArticleColumn p {
	text-align: justify;
 	padding-left: 5px;
	padding-right: 5px;
	font-size: 11px;
}

.ArticleColumn .SubLinks, .ArticleColumn .SubLinks a {
	text-align: right;
	color: #ff6a00;
	text-decoration: none;
	font-size: small;
}

.ArticleColumn .SubLinks a:hover {
	text-decoration: underline;
}

.ArticleColumn h3 {
	padding-left: 5px;
	padding-right: 5px;
	color: #ff6a00;
 }
 
 .ArticleColumn .photo {
 	font-size: small;
    text-align: center;
}

#QuotesCol {
	width: 20%;
}

.quote {
	font-size: small;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

.quote .author {
	color: #08c0ef;
	margin: 0;
}

.ArticleFacts {
	margin-left: 1em;
	padding-left: 5px;
	padding-right: 5px;
	font-size: small;
}


/* ---------------------------------------------------------------------------- */

.NewsPreview {
	margin: 0px 10px 10px 10px;
	padding: 0 0 5px 0;
	font-size: small;
}

.NewsPreview h1 {
	font-size: 18px;
	margin-bottom: 0px;
}

.NewsPreview h1 a, .NewsPreview h3 a {
	color: #000;
	text-decoration: none;
}

.NewsPreview h3 {
	margin-top: 0;
	margin-bottom: 0px;
	font-size: 15px;
}

.NewsPreview img {
	float: right;
	margin: 0 0 10px 10px;
}

.NewsPreview p {
	text-align: justify;
	padding: 0;
	margin: 0 0 10px 0;
}

.NewsPreview .Writer, .NewsPreview .Writer a {
	text-align: left;
	color: #000;
	text-decoration: none;
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: x-small;
	font-weight: bold;
}

.NewsPreview .Date {
	text-align: left;
	color: #000;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: x-small;
}

.NewsPreview .More, .NewsPreview .More a {
	text-align: left;
	color: #ff6a00;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 4px;
	font-size: x-small;
}

.NewsPreview a:hover {
	text-decoration: underline;
}



.NewsOther {
	margin: 0px 10px 10px 10px;
	padding: 0px 0 5px 0;
	clear: both;
	vertical-align: middle;
	float: left;
}

.NewsOther h3 {
	text-align: center;
	font-size: 15px;
}

.NewsOther p {
	font-size: small;;
	margin: 0px 5px 10px 0px;
	clear: both;
}

.NewsOther img {
	margin-right: 5px;
	float: left;
}

.NewsOther .More, .NewsOther .More a {
	text-align: left;
	color: #ff6a00;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: x-small;
	clear: none;
}

.NewsOther .Headline, .NewsOther .Headline a {
	clear: none;
	margin-bottom: 0px;
	text-decoration: none;
	color: #000;
}

.NewsOther .Writer, .NewsOther .Writer a {
	text-align: left;
	color: #000;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: x-small;
	font-weight: bold;
	clear: none;
}

.NewsOther .Date {
	text-align: left;
	color: #000;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: x-small;
	clear: none;
}

.NewsOther a:hover {
	text-decoration: underline;
}

.Advert {
	float: right;
	padding: 10px;
}

/* ---------------------------------------------------------------------------- */

#LifestyleContainer {
	width: 100%;
	padding-right: 12px;
}

.LifestylePuffer {
	border: 1px #000 solid;
	width: 244px;
	margin-left: 10px;
	margin-bottom: 10px;
	float: left;
	padding: 0;
}

.LifestylePuffer a:hover {
	text-decoration: none;
}

.LifestylePuffer img {
	float: left;
}

.LifestylePuffer h3 {
	text-align: center;
	margin: 0 0 0 123px;
	padding: 0;
	font-size: 15px;
	color: #fff;
}

.LifestylePuffer p {
	text-align: center;
	margin: 0 0 0 123px;
	padding: 0;
	font-size: 11px;
	color: #fff;
}



.LifestyleBoxes {
	border: 1px solid #000000;
 	float: left;
  	width: 30%;
	background-color: #DDDDDD;
	padding: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.LifestyleBoxes p {
	font-size: 11px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.LifestyleBoxes h3 {
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 15px;
}

.LifestyleBoxes a {
	color: #06a5cd;
	text-decoration: none;
}

.LifestyleBoxes .More, .LifestyleBoxes .More a {
	text-align: right;
	color: #06a5cd;
	text-decoration: none;
	font-size: 10px;
}



.RoundBoxBL {
	background: url('/images/prototype/news/bl.gif') 0 100% no-repeat;
	height: 100%;
}

.RoundBoxBR {
	background: url('/images/prototype/news/br.gif') 100% 100% no-repeat;
	height: 100%;
}

.RoundBoxTL {
	background: url('/images/prototype/news/tl.gif') 0 0 no-repeat;
	height: 100%;
}

.RoundBoxTR {
	background: url('/images/prototype/news/tr.gif') 100% 0 no-repeat;
	height: 100%;
}

.ArticleColumn #Byline {
	background-position: left bottom;
	background-repeat: no-repeat;
	height: 100%;
}

.ArticleColumn #Byline {
	text-align: right;
 }
 
.ArticleColumn #Byline .name {
 	font-weight: bold;
/*	font-size:*/
	color: #ff6a00;
}

.ArticleColumn #Byline .links a {
	color: #08c0ef;
	text-decoration: none;
 	font-size: small;
}

.ArticleColumn #Byline .links a:hover {
	text-decoration: underline;
}

.ArticleColumn #Byline #BylineText {
	padding: 0 10px;
}

/* --- News : Admin Section --- */

.form {
    margin: 0;
	padding: 0 5px;
  	min-width: 500px;
  	max-width: 600px;
	width: 560px;
}
.form fieldset {
    border-color: #ff6a00;
	border-width: 1px 0 0 0;
 	border-style: solid none none none;
 	padding: 10px;
 	margin: 0;
}
.form fieldset legend {
    color: #08c0ef;
	font-weight: bold;
 	margin: 0;
 	padding: 0 5px;
}
.form fieldset label {
	display: block;
	font-size: small;
	float: left;
	width: 110px;
	padding: 0;
	margin: 5px 0 0 0;
	text-align: right;
}
.form fieldset i {
    margin: 0 0 0 120px;
	display: block;
	font-size: x-small;
	float: left;
    padding: 0;
}
.form fieldset br {
    clear:left;
}
.form fieldset span {
    width: auto;
	margin: 5px 0 0 120px;
	padding: 0;
	font-size: small;
	display: block;
}
.form fieldset input, .form fieldset textarea, .form fieldset select {
    width: auto;
	margin: 5px 0 0 10px;
	padding: 1px 0 0 3px;
	background-image: url('/images/prototype/news/input.gif');
	border: 1px #000000 solid;
}
.form fieldset .button {
    background-image: url('/images/prototype/news/yorker-button.jpg');
	background-position: center left;
    background-repeat: no-repeat;
    background-color: #ff6a00;
    padding: 0 10px 0 20px;
    color: #000000;
	border-top : 1px solid #eaedf4;
	border-left : 1px solid #eaedf4;
 	border-bottom : 1px solid #224059;
	border-right : 1px solid #224059;
}
.form fieldset .button:hover {
	border-top : 1px #31557f solid;
	border-left : 1px #31557f solid;
	border-bottom : 1px #f8f9fb solid;
	border-right : 1px #f8f9fb solid;
}
.form fieldset div.comment {
    border: 1px #000000 solid;
    margin-bottom: 5px;
}
.form fieldset div.comment div.date {
    font-size: x-small;
    background-color: #DDDDDD;
    color: #000000;
}
.form fieldset div.comment div.name {
    font-size: small;
    color: #000000;
    font-weight: bold;
}
.form fieldset div.comment div.text {
    font-size: small;
}
.form fieldset div.link_right {
    float: right;
    font-size: small;
}
.form fieldset div.link_right a {
    color: ff6a00;
    text-decoration: none;
    cursor: pointer;
}
.form fieldset div.link_right a:hover {
    text-decoration: underline;
}
#ArticleBox {
    padding: 0;
    border: 0;
    margin: 0;
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse;
}
#ArticleBox tr {
    font-size: small;
}
#ArticleBox .tr2 {
    background-color: #eeeeee;
}
#ArticleBox th {
    border-bottom: 2px #000000 solid;
    text-align: left;
}
#ArticleBox td {
    padding-right: 1.5em;
    border-bottom: 1px #000000 solid;
}
#ArticleBox td a {
    color: #08c0ef;
    text-decoration: none;
}
#ArticleBox td a:hover {
    text-decoration: underline;
}
#TaskList li {
    list-style-image: url('/images/prototype/news/yorker-button.jpg');
    font-size: small;
}
#TaskList li a {
    color: #ff6a00;
    text-decoration: none;
}
#TaskList li a:hover {
    text-decoration: underline;
}

/*
*	End styles for News Section
*/

/*
*     Styles for search page
*/

#minibox {
  float: left;
  width: 140px;
  padding: 5px;
  margin: 10px 0px 0px 10px;
  border: 1px solid #000000;
}

#minibox #title {
  display: block;
  padding: 3px;
  margin: -5px -5px 8px -5px;
  background-color: #C0C0C0;
}

#minibox a {
  display: block;
  text-decoration: none;
  margin: 3px 0px 3px 0px;
}

#minibox a i {
  font-size: 12px;
  color: #7F7F7F;
}

#searchresults {
  padding: 0px 0px 0px 150px;
}

#searchresults #a_search_form {
  text-align: center;
}

#searchresults li a {
  display: block;
  margin: 0px 0px 8px 0px;
}

#searchresults li {
  list-style-type: decimal;
  margin: 0px 0px 20px 0px;
}

#searchresults #numbers {
  display: block;
  text-align: center;
}

.searchfield {
  width: 200px;
}

/*
*     End Styles for search page
*/
*/

.OfficeBoxes {
	border: 1px solid #000000;
 	float: left;
  	width: 45%;
	background-color: #DDDDDD;
	padding: 5px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
}

.OfficeBoxes p {
	font-size: small;
}

.OfficeBoxes h3 {
	text-align: center;
	margin: 0;
	padding: 0;
}

.OfficeBoxes a {
	color: #06a5cd;
	text-decoration: none;
}

.OfficeBoxes a:hover {
	text-decoration: underline;
}

.OfficeBoxes .Nothing {
	font-size: 10px;
	text-align: center;
	font-style: italic;
}

.OfficeBoxes .Item {
	background: #ccc;

	margin: 2px 0px 2px 0px;
	font-size: 12px;
}

.OfficeBoxes .Item a {
	color: #000;
	padding: 2px 3px 2px 3px;
	display: block;
}

.OfficeBoxes .Item a:hover {
	text-decoration: none;
	background: #feb;
}
